//
//  Debug.xcconfig
//  ScaleForce
//
//  Created by Jay Clark on 11/1/16.
//  Copyright © 2017 LongTime. All rights reserved.
//

#include "ScaleForce/Resources/xcconfig/Raizlabs-Account.xcconfig"
#include "ScaleForce/Resources/xcconfig/Global.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.raizlabs.ScaleForce.debug
PRODUCT_NAME = debug-$(TARGET_NAME)
DEVELOPMENT_TEAM = xxxxxx // Insert debug TEAM ID here

CODE_SIGN_IDENTITY_ScaleForce = iPhone Developer
PROVISIONING_PROFILE_ScaleForce = xxxxxx // Insert debug provisioning profile ID
// CODE_SIGN_ENTITLEMENTS = ScaleForce/debug-ScaleForce.entitlements // Enable to allow custom debug entitlements

FABRIC_API_KEY = $(INTERNAL_FABRIC_API_KEY)
FABRIC_BUILD_SECRET = $(INTERNAL_BUILD_SECRET)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
